@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body, #map{
    width:100%;
    height:100%;
    margin: 0;
    overflow:hidden;
    font-size: medium;
}
body {
    font: 1em/1.5 "Open Sans",Helvetica,Arial,sans-serif;
    color: rgba(40, 40, 40, 0.8);
    font-weight: 400;
}
#map {
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
}
.ol-control button {
    background-color: rgba(40, 40, 40, 0.8) !important;
}
.ol-control button:hover {
    background-color: rgba(40, 40, 40, 0.8) !important;
}
.toggle {
    width: 100px;
}
.ol-mouse-position {
    right: 3em;
    color: #fff;
    background-color: rgba(40, 40, 40, 0.8);
    padding: 2px 10px;
    border-radius: 5px;
}
.ol-rotate {
    top: 3em;
}
.ol-overviewmap{
    left: 5px;
    bottom: 40px;
}
.ol-scale-line {
    background-color: rgba(40, 40, 40, 0.8);
}
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: #ffcc33;
}
.infowindow{
    overflow-y: scroll;
    height: 500px;
}


/*.ol-touch .rotate-north {*/
    /*top: 80px;*/
/*}*/
/*.ol-mycontrol {*/
    /*background-color: rgba(255, 255, 255, 0.4);*/
    /*border-radius: 4px;*/
    /*padding: 2px;*/
    /*position: absolute;*/
    /*width:300px;*/
    /*top: 5px;*/
    /*left:40px;*/
/*}*/
